body{
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    width: 100%;
}

.container{
    width: 1100px;
    height: 540px;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/background.jpg');
    margin: 20px auto;
}

.calculator{
    width: 320px;
    height: 490px;
    background-color: rgb(226, 217, 217);
    margin: 0 auto;
    top: 10px;
    position: relative;
    border-radius: 5px;
}

#result{
    height: 120px;
}

#keyboard{
    height: 390px;
}

#history{
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    color: #919191;
    font-size: 15px;
}

#output{
    text-align: right;
    font-size: 30px;
    margin: 10px 20px;
    height: 60px;
    font-weight: bold;
}

.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 10px;
    float: left;
    margin-left: 17px;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
}

.operator{
    background-color: #c5c3c3;
}

.number, .empty{
    background-color: rgb(226, 217, 217);
}

.number, .operator{
    cursor: pointer;
}

.number:active, .operator:active{
    font-size: 13px;
}

.number:focus, .operator:focus, .empty:focus{
    outline: 0;
}

button:nth-child(4){
    font-size: 20px;
    background-color: rgb(31, 179, 171);
}

button:nth-child(8){
    font-size: 20px;
    background-color: orange;
}

button:nth-child(12){
    font-size: 20px;
    background-color: rgb(240, 113, 162);
}

button:nth-child(16){
    font-size: 20px;
    background-color: rgb(29, 102, 170);
}

button:nth-child(20){
    font-size: 20px;
    background-color: blueviolet;
}

@media(max-width: 700px){
    .container{
        width: 450px;
        height: 540px;
    }
}